.container{
  width: 50vw;
  height: 80vh;
}
.unos{
  height: 40px;
  margin:20px;
  border:0.5px solid  #2D62ED;
}

input[type="file"]{
  visibility: hidden;
}
.text-unosa{
  padding: 5.5px;
  padding-bottom: 18px;
  min-width: 70px;
  padding-top: 10px;
  background-color: #2D62ED;
  color:white;
  width: 70px;
  overflow: hidden;
  font-size: 10px;
}
.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
.input-field{
  height: 29px;
  width: 65%;
  border:none;
}
*:focus {
  outline: none;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

#zavrsi-button{
  background-color: #2D62ED;
  color: white;
  padding:10px 25px;
  border: 1px solid #2D62ED;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#zavrsi-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#odustani-button{
  cursor: pointer;
  background-color: white;
  color: #2D62ED;
  padding:10px 20px;
  border: 1px solid #2D62ED;
  border-radius: 5px;
}

.image-button{
  margin-left: 16px;
}
