<div class="container">
  <h2>Novi unos</h2>
  <form #myForm="ngForm" (ngSubmit)="saveFood(myForm)" id="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Naziv</mat-label>
      <input [(ngModel)]="hrana.naziv" matInput placeholder="Unesite naziv" >
    </mat-form-field>
    <div id="kategorija-parent">
      <mat-form-field class="example-full-width" appearance="fill" style="font-family: Montserrat, sans-serif !important">
        <mat-label style="color: #2699fb; font-family: Montserrat, sans-serif !important">Ponuda hrane</mat-label>
        <mat-select [(ngModel)]="hrana.kategorija" name="kategorija"
          style="color: #2699fb; font-family: Montserrat, sans-serif !important" required>
          <mat-option style="
              color: #2699fb;
              font-family: Montserrat, sans-serif !important;
            " *ngFor="let category of kategorije" [value]="category.nazivKategorije">
            {{ category.nazivKategorije }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Opis</mat-label>
      <input [(ngModel)]="hrana.opis" matInput placeholder="Unesite opis">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Cijena</mat-label>
      <input [(ngModel)]="hrana.cijena" matInput placeholder="Unesite cijenu">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Oznaka</mat-label>
      <input [(ngModel)]="hrana.naziv" matInput placeholder="Unesite oznaku">
    </mat-form-field>
    <div class="parent">
      <mat-form-field class="kolicina-input">
        <mat-label>Količina</mat-label>
        <input [(ngModel)]="hrana.kolicina" matInput placeholder="npr. grama">
      </mat-form-field>
      <mat-form-field id="drugi" appearance="fill" style="
          width: 15%;
          margin-left: 20px;
          height: 20px !important;
          font-family: Montserrat, sans-serif !important;
        ">
        <mat-label style="color: #2699fb; font-family: Montserrat, sans-serif !important">
          kg/l</mat-label>
        <mat-select [(ngModel)]="hrana.mjernaJedinica" name="mjernaJedinica"
          style="color: #2699fb; font-family: Montserrat, sans-serif !important" required>
          <mat-option style="
              color: #2699fb;
              font-family: Montserrat, sans-serif !important;
            " *ngFor="let izbor of quantity" [value]="izbor.value">
            {{ izbor.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />
    <button (click)="filePicker.click()" color="primary" class="image-button" mat-fab
      aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
    <p *ngIf="isDisabled" class="image-button-text">Ubaci fotografiju</p>
    <p *ngIf="!isDisabled" class="image-button-text">
      Ubacili ste fotografiju.
    </p>

    <input type="file" (change)="upload($event)" #filePicker accept=".png, .jpeg, .jpg" />
    <br />
    <div class="buttons-container">
      <button #btnClose mat-button mat-dialog-close id="odustani-button">
        ODUSTANI
      </button>
      <button #btnClose mat-button form="ngForm" id="zavrsi-button" type="submit">
        ZAVRŠI
      </button>
      </div>
  </form>
</div>
