@import "../../../../../src/styles.scss";

.tabela {
  width: 80%;
  margin: auto;
  box-shadow: 0px 3px 6px #272D3B33;
}


table {
  width: 100%;
  box-shadow: 0px 3px 6px #272D3B33 !important;
}

mat-card{
  padding: 0px;
  &[color="primary"]{
    @include angular-material-color($angular-light-theme);
  }
}

.mat-table {
  font-family: 'Montserrat', sans-serif;
}

.mat-header-cell {
  font-weight: 600;
  color: black;
}

.mat-table tbody {
  background: content-box !important;
}


.header>.title {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  vertical-align: middle;
  float: left;
  padding: 0px 10px;

}


.novi-unos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;

}

.novi-unos>button {
  border: none;
  width: 140px;
  height: 40px;
  background: #00CCF2 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.novi-unos>button:focus {
  outline: none;
}

#menu {
  outline: none;
  border-style: none;
  cursor: pointer;
  background: white;
}

.novi-unos-container {
  display: flex;
  justify-content: flex-end;
}

.unos-button {
  color: white;
  background-color: #386cf0;
  border-radius: 15px;
  margin: 10px;
}
