<mat-card class="tabela">
  <div class="header">
    <div class="title">
      <h3>Uposlenici</h3>
    </div>
    <div class="novi-unos">
      <button mat-button (click)="openDialog()">Dodaj nove +</button>
    </div>
  </div>
  <table id="data" class="mat-elevation-z8">
    <tr>
      <th>Slika</th>
      <th>Ime uposlenika</th>
      <th>Email uposlenika</th>
      <th>Pozicija uposlenika</th>
    </tr>
    <tr *ngFor="let employee of employees">
      <td>Slika treba da se ubaci</td>
      <td id="naziv">{{employee.fullname}}</td>
      <td id="naziv">{{employee.email}}</td>
      <td id="naziv">{{employee.role}}</td>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>

      </mat-menu>
    </tr>
  </table>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="element">
      <button mat-menu-item (click)="cl(aliasMenuItems)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-card>

