<div class="wrapper">
  <h1>Narudzba {{data.orderCode}}</h1><br>
  <h5>{{data.orderJelo}}</h5>
  <h5>Komentar: {{data.orderKomentar}}</h5><br>
  <h5>Ime i prezime: {{data.fullName}}</h5>
  <h5>Adresa: {{data.orderAddress}}</h5>
  <h5>Broj telefona: {{data.phone}}</h5>
  <h5>Broj sprata: 4</h5>
  <h5>Interfon i stan: 2</h5>
  <h5>Uputstva: Izujte se prije ulaska</h5><br>
  <h5>Doplata: {{data.orderDoplata}}</h5>
  <h5>Promo code: {{data.orderCode}}</h5>
  <h5>Ukupno za naplatiti: {{data.orderTotal}}</h5>

</div>
