 <mat-card class="container">
 <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <h4 class="modal-title">Registration</h4>
    <mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input name="fullname" matInput placeholder="Unesite ime">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input type="text" name="email" matInput placeholder="Unesite email" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input name="password" type="password" autocomplete="disabled" matInput placeholder="Unesite password" required>
    </mat-form-field>
    <div class="form-group small clearfix">
    </div>
    <div class="buttoncic">
      <button id="btn-raised" mat-raised-button color='primary' type="submit">Register</button>
    </div>
  </form>
 </mat-card>
