 <mat-card class="container">
 <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <h4 class="modal-title">Registration</h4>
    <!-- <div class="form-group">
      <input ngModel #fullname="ngModel" name="fullname" type="text" class="form-control" placeholder="First name"
        required="required" />
    </div> -->
    <mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input name="fullname" matInput placeholder="Unesite ime">
    </mat-form-field>


    <!-- <div class="form-group">
      <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email"
        required="required" />
    </div> -->

    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input type="text" name="email" matInput placeholder="Unesite email" required>
    </mat-form-field>


    <!-- <div class="form-group">
      <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Password"
        required="required" />
    </div> -->
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input name="password" type="password" autocomplete="disabled" matInput placeholder="Unesite password" required>
    </mat-form-field>
    <div class="form-group small clearfix">
      <!-- <a href="#" class="forgot-link">Forgot Password?</a> -->
    </div>
    <!-- <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" /> -->
    <div class="buttoncic">
      <button id="btn-raised" mat-raised-button color='primary' type="submit">Register</button>
    </div>
  </form>
  <!-- <div class="text-center small">
    Don't have an account? <a href="#">Sign up</a>
  </div> -->
 </mat-card>
