<div class="tabela">
  <div class="header">
    <div class="title">
      <h3>Unosi</h3>
    </div>
    <div class="novi-unos">
      <button mat-button (click)="openDialog()">Novi unos</button>
    </div>
  </div>

  <table id="data" class="mat-elevation-z8">

    <tr>
      <th> </th>
      <th>NAZIV</th>
      <th>OPIS</th>
      <th>CIJENA</th>
      <th> </th>
    </tr>
    <tr *ngFor="let meal of food">

      <td><img id="unos-slika" src="{{meal.imageURL}}"></td>
      <td>{{meal.naziv}}</td>
      <td>{{meal.opis}}</td>
      <td>{{meal.cijena + ' KM'}}</td>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>

      </mat-menu>
    </tr>
  </table>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="element">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
<!-- <div class="novi-unos-container"><button mat-button class="unos-button" (click)="openDialog()">Novi unos</button></div> -->
