<!-- <div class="container">
  <h2>Unesi sliku</h2>
  <form (ngSubmit)="saveFood()">
    <p>Ime unosa</p><input type="text" [(ngModel)]="hrana.naziv" name="naziv">
    <p>Kategorija</p><input type="text" [(ngModel)]="hrana.kategorija" name="kategorija">
    <p>Opis unosa</p><input type="text" [(ngModel)]="hrana.opis" name="opis">
    <p>Cijena:</p><input type="text" [(ngModel)]="hrana.cijena" name="cijena">
    <p>Oznaka:</p><input type="text" [(ngModel)]="hrana.oznaka" name="oznaka">
    <p>Količina:</p><input type="text" [(ngModel)]="hrana.kolicina" name="kolicina"><br>

    <input type="file" (change)="upload($event)" accept=".png, .jpg">
    <button type="submit">Submit</button>
  </form>
</div> -->
<div class="tabela">
  <div class="header">
    <div class="title">
      <h3>Unosi</h3>
    </div>
    <div class="novi-unos">
      <button (click)="openDialog()">Novi unos</button>
    </div>
  </div>

  <table id="data" class="mat-elevation-z8">

    <tr>
      <th> </th>
      <th>Naziv</th>
      <th>Opis</th>
      <th>Cijena</th>
    </tr>
    <tr *ngFor="let jelo of hrana">

      <td><img id="unos-slika" src="{{jelo.imageURL}}"></td>
      <td>{{jelo.naziv}}</td>
      <td>{{jelo.opis}}</td>
      <td>{{jelo.cijena + ' KM'}}</td>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>

      </mat-menu>
    </tr>
  </table>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="element">
      <button mat-menu-item (click)="cl(aliasMenuItems)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
<!-- <div class="novi-unos-container"><button mat-button class="unos-button" (click)="openDialog()">Novi unos</button></div> -->
