<!-- <div class="container">
  <h2>Unesi sliku</h2>
  <form (ngSubmit)="saveFood()">
    <p>Ime unosa</p><input type="text" [(ngModel)]="hrana.naziv" name="naziv">
    <p>Kategorija</p><input type="text" [(ngModel)]="hrana.kategorija" name="kategorija">
    <p>Opis unosa</p><input type="text" [(ngModel)]="hrana.opis" name="opis">
    <p>Cijena:</p><input type="text" [(ngModel)]="hrana.cijena" name="cijena">
    <p>Oznaka:</p><input type="text" [(ngModel)]="hrana.oznaka" name="oznaka">
    <p>Količina:</p><input type="text" [(ngModel)]="hrana.kolicina" name="kolicina"><br>

    <input type="file" (change)="upload($event)" accept=".png, .jpg">
    <button type="submit">Submit</button>
  </form>
</div> -->
<div class="tabela">
  <div class="header">
    <div class="title">
      <h3>Unosi</h3>
    </div>
    <div class="novi-unos">
      <button (click)="openDialog()">Novi unos</button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.image }}</td>
    </ng-container>

    <!-- Naziv Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef>NAZIV</th>
      <td mat-cell *matCellDef="let element">{{ element.naziv }}</td>
    </ng-container>

    <!-- Opis Column -->
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef>OPIS</th>
      <td mat-cell *matCellDef="let element">{{ element.opis }}</td>
    </ng-container>

    <!-- Cijena Column -->
    <ng-container matColumnDef="cijena">
      <th mat-header-cell *matHeaderCellDef>CIJENA</th>
      <td mat-cell *matCellDef="let element" id="last">{{ element.cijena }}</td>
    </ng-container>
    <ng-container matColumnDef="execute">
      <th mat-header-cell fxFlex="8%" fxLayoutAlign="start center" *matHeaderCellDef></th>
      <td mat-cell fxFlex="8%" fxLayoutAlign="start center" *matCellDef="let element">
        <button id="menu" mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ element: element }">
          <i class="material-icons" style="color: #000">more_vert</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="element">
      <button mat-menu-item (click)="cl(aliasMenuItems)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
<!-- <div class="novi-unos-container"><button mat-button class="unos-button" (click)="openDialog()">Novi unos</button></div> -->
