<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="sidebar-content">
    <a>Narudzbe</a><br>
    <a>Novi unos</a><br>
    <a>Postavke</a><br>
  </div>
    </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <span class="material-icons">
        notifications_none
        </span>
        <span class="material-icons">
          exit_to_app
          </span>
    </mat-toolbar>
    <app-novi-unos></app-novi-unos>
  </mat-drawer-content>
</mat-drawer-container>
