/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

.mat-fab {
  width: 45px;
  height: 45px;
  display: initial !important;
}

.mat-fab>span {
  padding: 16px 0;
  display: initial !important;
  line-height: 20px;
}

a:visited,
a:link {
  color: rgb(204, 208, 221);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #2698FA !important;
}

.mat-form-field-ripple {
  background-color: #2698FA;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #2698FA;
}

.not-empty-select.mat-selected {
  color: green !important;
}

:host /deep/ .mat-select-value-text {
  color: green !important;
}

.mat-form-field-infix {
  color: red;
}
