/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

@include mat-core();
$angular-primary: mat-palette($mat-blue-grey, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);

$angular-primary-light: mat-palette($mat-light-blue);
$angular-accent-light: mat-palette($mat-pink, A200, A100, A400);
$angular-warn-light: mat-palette($mat-red);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

$angular-light-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary-light,
      accent: $angular-accent-light,
      warn: $angular-warn-light,
    ),
  )
);

.dark-mode {
  @include angular-material-color($angular-dark-theme);
}

.light-mode{
 @include angular-material-color($angular-light-theme);
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

.mat-fab {
  width: 45px;
  height: 45px;
  display: initial !important;
}

.mat-fab>span {
  padding: 16px 0;
  display: initial !important;
  line-height: 20px;
}

a:visited,
a:link {
  color: rgb(204, 208, 221);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #2698FA !important;
}

.mat-form-field-ripple {
  background-color: #2698FA;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #2698FA;
}

.not-empty-select.mat-selected {
  color: green !important;
}

// :host /deep/ .mat-select-value-text {
//   color: green !important;
// }
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #2699fb !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}

.mat-form-field-infix {
  color: red;
}

.mat-form-field-infix ng-tns-c135-13 {
  height: 50px !important;
}

.mat-dialog-container {
  width: 650px !important;
  height: 600px !important;
  padding: 0px !important;
}

.mat-menu-panel {
  max-width: 800px !important;
  max-height: 600px !important;
}

.mat-menu-content {
  overflow-x: hidden !important;
}
