/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.mat-fab {
  width: 45px;
  height: 45px;
  display: initial !important;

}

.mat-fab>span {
  padding: 16px 0;
  /* display: inline-block; */
  display: initial !important;
  line-height: 20px;
}
